<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/les fichiers/src/Traitement_de_chaine_de_caractères.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Traitement_de_chaine_de_caractères"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="les fichiers"/>
</launchConfiguration>
